body {
    background-color: #ffffed; /* Beige Hintergrundfarbe */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Vollständige Bildschirmhöhe */
    margin: 0; /* Entferne den Standardseitenrand */
}
h1 {
    color: rgb(0, 0, 0); /* Schwarze Überschrift */
}
p {
    color: rgb(5, 5, 5); /* Dunkelgrauer Text */
}
button {
    background-color: #4682b4; /* Dunkelblauer Hintergrund für den Button */
    color: #ffffff; /* Weiße Textfarbe für den Button */
    padding: 10px 20px; /* Füge Innenabstand zum Button hinzu */
    cursor: pointer; /* Ändere den Mauszeiger, wenn über dem Button */
    margin-top: 20px; /* Abstand zwischen Bildcollage und Button */
}