body {
    background-color: #ffffed; /* Beige Hintergrundfarbe */
    margin: 0; /* Entferne den Standardseitenrand */
    padding: 0; /* Entferne das Standardseitenpadding */
    font-family: Arial, sans-serif; /* Setze eine Standardschriftart */
}
header {
    background-color: #a0c6e5; /* Dunkelblauer Hintergrund für den Header */
    color: #000000; /* Weiße Textfarbe für den Header */
    text-align: center; /* Zentriere den Text im Header */
    padding: 20px; /* Füge Innenabstand zum Header hinzu */
}
main {
    max-width: 800px; /* Begrenze die maximale Breite des Hauptinhalts */
    margin: 20px auto; /* Zentriere den Hauptinhalt und füge Außenabstand hinzu */
}
section {
    margin-bottom: 20px; /* Füge Abstand zwischen Abschnitten hinzu */
}
#gifContainer {
    display: none; /* Standardmäßig den Container ausblenden */
    margin-bottom: 20px; /* Füge Abstand unter dem GIF-Container hinzu */
}
img {
    max-width: 100%; /* Sorge dafür, dass das GIF innerhalb seines Containers passt */
    height: auto; /* Skaliere das GIF beibehalten das Seitenverhältnis */
}
ul {
    list-style-type: none; /* Entferne die Aufzählungspunkte von der Verlinkungsliste */
    padding: 0; /* Entferne das Standardseitenpadding von der Verlinkungsliste */
}
li {
    margin-bottom: 10px; /* Füge Abstand zwischen den Verlinkungen hinzu */
}
button {
    background-color: #4682b4; /* Dunkelblauer Hintergrund für den Button */
    color: #ffffff; /* Weiße Textfarbe für den Button */
    padding: 10px 20px; /* Füge Innenabstand zum Button hinzu */
    cursor: pointer; /* Ändere den Mauszeiger, wenn über dem Button */
}